# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore virtual environment folder
**/venv/

# Ignore NY Taxi Data
**/ny_taxi_postgres_data/
taxi_zone_lookup.csv
yellow_tripdata_2021-01.csv
green_tripdata_2019-10.csv